# Define environment in this dir only with direnv.
# On first usage enter: direnv allow
# man direnv for more infos
#
# see too https://cmake.org/cmake/help/latest/manual/cmake-env-variables.7.html
#
export PATH="/usr/local/opt/llvm/bin:$PATH"
export CXX=clang++
export CC=clang

layout python3
