# =============================================================================
# PYTHON PACKAGES (PIP)
# =============================================================================
# USE (python3): pip3 install -U -r <THIS_FILE_NAME>
# =============================================================================

gcovr>=7.0
bumpversion>=0.6
builddriver>=0.9
cmake>=3.25
ninja>=1.11
cmake-format>=0.6.13
#
pre-commit==3.6.1
iniconfig==2.0.0
numpy==1.26.4
packaging==23.2
pluggy==1.4.0
pytest==8.0.1
PyYAML==6.0.1
